.heading{
    color: #404040;
    font-size: x-large;
}

.cardTitle{
    font-size: large;
    width: 100px;
    color: #404040;
}

.amount{
    color: #404040;
    font-size: xx-large;
}

.perc{
    font-size: small;
    color: #16DBCC;
}

.percDesc{
    font-size: small;
    color: #404040;
}

.titleCars{
    color: #404040;
    font-size: large;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cmake{
    color: #C9C9C9;
    font-size: medium;
    text-transform: capitalize;
}

.license{
    font-size: medium;
    color: #386BF6;
    text-transform: uppercase;
}

.time{
    font-size: smaller;
    color: #404040;
    text-transform: lowercase;
}

.card{
    padding: 20px;
    border: solid 1px #c8c4c4;
    border-radius: 5px;
    width: 100%;
}


.name{
    font-weight: 700;
    font-size: small;
    text-transform: capitalize;
    color: #404040;
    margin: 0;
}

.function{
    font-weight: 500;
    font-size: smaller;
    color: rgb(126, 124, 124);
    margin: 0;
}


.day{
    font-weight: 600;
    font-size: larger;
    color: black;
}

.numberDays{
    color: gray;
    font-size: x-small;
    margin: 0;
}

.boders{
    border: solid 1px #c8c4c4;
    border-radius: 5px;
}


.month{
    font-weight: 600;
    font-size: small;
    color: black;
}

.leaveType{
    padding-block: 10px;
    padding-inline: 15px;
    background: #EEEEEE;
}

.commentBox{
    border: solid 1px #c8c4c4;
    border-radius: 5px;
    margin-inline: 10px;
    margin-top: 25px;
}

.comment{
    padding-inline: 10px;
    font-size: small;
    font-weight: 500;
    color: #404040;
    margin-bottom: 10px;
}

.type{
    font-size: medium;
    text-transform: lowercase;
    color: black;
    font-weight: 600;
}

.leavecard{
    padding: 20px;
    border: solid 1px #c8c4c4;
    border-radius: 5px;
    width: 100%;
}

.value{
    font-weight: 700;
    font-size: larger;
    color: black;
}

.title{
    font-size: small;
    color: black;
    font-weight: 700;
}

.desc{
    font-size: x-small;
    color: gray;
    font-weight: 400;
}


.taskStat{
    font-size: medium;
    color: black;
    font-weight: 800;
    text-align: center;
}



.dateEvent{
    background: #E7EBEE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dateSpan{

    font-weight: 600;
    color: black;
    font-size: smaller;
}

.eventTitle{
    font-weight: 700;
    color: black;
    font-size: smaller;
}

.eventDesc{
    font-weight: 700;
    color: #B8B9BB;
    font-size: x-small;
}